:root {
    --color-black: #141D26;
    --text-transparent: rgba(255, 255, 255, 0.8);
    --main-pastel-orange: rgb(255, 180, 72);
    --main-navajo-white: rgb(255, 221, 170);
    --main-cream: rgb(253, 253, 210);
    --main-blond: rgb(255, 245, 189);
    --main-caramel: rgb(255, 220, 151);
    --main-topaz: rgb(255, 199, 132);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    font-size: 2em;
    background: var(--main-pastel-orange);
    width: 100%;
    z-index: 10;
    margin-right: 2rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    padding: 1.5vh 0;
}

nav a {
    color: var(--main-cream);
}

nav a:visited {
    color: var(--main-cream);
}

@media (max-width: 768px) {
    nav {
        font-size: 1.5em;
        justify-content: space-evenly;
        gap: 0;
    }
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, #00000088 10%, #ffffff44 100%), url('assets/images/shanghai-5852019.jpg');
    background-size: cover;
    color: var(--text-transparent);
    font-weight: bold;
    text-align: center;
}

#welcome-section h1 {
    font-size: 64px;
}

#welcome-section p {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.5em;
}

#skills {
}

#skills h1 {
    color: var(--main-pastel-orange);
}

#projects {
    color: var(--main-pastel-orange);
    display: grid;
    background: var(--main-cream);
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5px;
}

.project-img {
    width: 300px;
    height: 150px;
}

#profile-link {
    font-size: 2em;
}

@media (min-width: 480px) {

}

#contact {
    background: var(--main-pastel-orange);
    color: var(--main-cream);
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2.5vw
}

@media (max-width: 768px) {
    .contact-links {
        flex-direction: column;
        gap: 0;
    }
}